.nav {
    background: #000;
    position: fixed;
    width: 100%;
    top: 20;
    left: 0;
    /* padding: 10px; */
    display: flex;
    justify-content: space-around;

}

.cart-div {
    border: 2px solid teal;
    background: none;
    padding: 20px;
    height: 20px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-div:hover {
    background: teal;
    cursor: pointer;
}

.count {
    padding: 8px;
    margin: 8px;
    color: black;
    background: rgb(2, 188, 188);
    border: none;
    border-radius: 10px;
}